<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="">
<style>
</style>
</head>
<body>
<div class="grid bbdr">
    <i onclick="window.location='index.html'" class="material-icons gicon-regular" >menu</i>
    <h3 class="apptitle">Vir.Q</h3>
    <img class="appimg" src="/img/undraw_stand_out_1oag.svg">
</div>
    {{{body}}}
</body>
</html>