<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="">
<style>
</style>
</head>
<body>
<div class="grid bbdr">
    <i onclick="openNav()" class="material-icons gicon-regular" >menu</i>
    <h3 class="apptitle">VirQ.app</h3>
<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
        <a class="tile bbdr fnt-fredo " href="skedules">Appointments</a>
        <a class="tile bbdr fnt-fredo" href="services">Services</a>
        <a class="tile bbdr fnt-fredo" onclick="auth.signOut()">Log out</a>      
    </div>
    <p class="theme fnt-fredo">Save time <br> Keep the distance</p>
    </div>
</div>
    {{{body}}}
<script>
    function openNav() {document.getElementById("myNav").style.width = "100%";}
    function closeNav() {document.getElementById("myNav").style.width = "0%";}
</script>
</body>
</html>