<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="">
<style>
    .menu-icon {grid-area: 1/1/span 1 / span 1;}
    .gtitle {grid-area: 1/2/span 1 / span 9;margin: 0; padding: 12px; color: var(--primary-color); text-align: start;}
    .appimg {grid-area: 1/12/span 1 / span 1; height: 50px; padding: 0;}
</style>
</head>
<body>
<div class="grid bbdr">
    <i onclick="window.location='index.html'" class="material-icons gicon-regular" >menu</i>
    <h3 class="gtitle">Virtual Q</h3>
    <img class="appimg" src="/img/undraw_stand_out_1oag.svg">
</div>
    {{{body}}}
</body>
</html>