<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
    {{> busnav}}
    {{{body}}}
    <script>
        if (!bid) bid = document.getElementById('lstBus').value;
        function redirect(page) { window.location = [page, 'uid=', uid, "&bid=", bid].join(''); }
    </script>
</body>
</html>