<!DOCTYPE html>
<html lang="en">
{{> header}}

<body>
    <script>
        function redirect(page) { window.location = [page, 'uid=', uid].join(''); }
    </script>
    {{> cusnav}}
    {{{body}}}
</body>

</html>