<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>VirQ.app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="">
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="/__/firebase/7.14.5/firebase-app.js"></script>
    <!-- Add Firebase products that you want to use -->
    <script src="/__/firebase/7.14.5/firebase-auth.js"></script>
    <!-- Initialize Firebase -->
    <script src="/__/firebase/init.js"></script>
    <script>
        const auth = firebase.auth();
        auth.onAuthStateChanged(user => { if (!user) window.location = "/"; })
    </script>
</head>

<body>
    <div class="bbdr" style="display: flex;">
        <p class="apptitle"> VirQ.app</p>
        <i id="mainIcn" class="material-icons gicon-regular" style="z-index: 2;" onclick="togmenu()">menu</i>
    </div>
    <div id="mainNav" class="overlay">
        <div class="overlay-content">
            <select name="" id="lstBus" onchange="setBid()"></select>
            <a class="tile" href="javascript:redirect('booknew.html?bid=')">New Booking</a>
            <a class="tile" href="javascript:redirect('skedules?bid=')">Calendar</a>
            <a class="tile" href="javascript:redirect('settings?bid=')">Settings</a>
            <a class="tile" href="javascript:auth.signOut();">Log out</a>
            <p class="theme">Keep the distance .. Save time</p>
        </div>
    </div>
    {{{body}}}
    <script>
        const mainNav = get('mainNav').style; const mainIcn = get('mainIcn');
        function togmenu() {
            if (mainNav.height == '100%') { mainNav.height = "0%"; mainIcn.innerText = 'menu'; }
            else { mainNav.height = '100%'; mainIcn.innerText = 'close'; }
        }
        if (typeof bid === "undefined") bid = document.getElementById('lstBus').value;
        function redirect(page) { window.location = page + bid; }
        function get(el) { return document.getElementById(el) }

    </script>
</body>

</html>