.cal-header{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 3fr 1fr;
    text-align: center;
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    border: 1px solid var(--shadow-color);
    border-radius: 5px;
    padding: 0; margin: 0;
    font-size: small;

}
.cal-icon{
    padding: 12px;
}
.cal-dates{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    text-align: center;
}
.cal-wday{
    padding: 4px; margin: 1px;
}
.cal-container{
    background: var(--light-background); 
    transition: 500ms;}
.date-hdr{
    display: block;
    color:var(--secondary-color);

}
.dates-container {
    border-bottom: 1px solid var(--primary-color); 
    padding: 8px 0;
}
.event{
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 8px 0; margin-bottom: 2px;
    background-color: var(--light-background);
}
.event >label{
    margin: 2px 8px; display: inline; padding: 4px;
}

/* Timeslot picker...................................*/
.slots{
    border: 1px solid var(--border-color);
    padding: 12px;
    border-radius: 5px;
    margin: 12px 0;
    min-height: 50px;
}
.slots > div{
    display: inline-block;
    border: 1px solid var(--border-color);
    background-color: white;
    padding: 8px; margin: 4px;
    border-radius: 5px;
    font-size: smaller;
    cursor: pointer;
}
.timeline-container{
    margin: 12px 0;
    border: 1px solid var(--border-color);
    padding: 12px;
    font-size: 12px;
}

.timeline{
    display: grid;
    grid-template-columns: 1fr;
    padding: 2px;
    overflow-x: scroll;
    text-align: center;
    width: fit-content;
    background-color: var(--light-background);
    border: 1px solid var(--shadow-color);
    max-width: 98%;
}

.timeline > div {
    padding: 8px;
    width: 60px;margin: 1px;
    font-size: small;
}
.timeHeader {
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 16px;
    border-bottom: 1px solid;
}
.time{
    grid-column: 1; text-align: right;
    background: white; 
    color: var(--primary-color); font-weight: 700;
}
.timeline > div >label{
    text-align: center;
    padding: 0;
}
.avlbl {
    background-color:var(--primary-color);
    opacity: 50%;
    transition: 0.3s ease-in-out;
}

/* @media only screen and (min-width: 600px) {
    .timeline {
        width: 60vw;
    }
} */

.slider {
    display: none;
    border-radius: 5px;
    padding: 3px;
    margin: 12px 0;
}
.slider > div {
    padding: 4px;
    border-bottom: 3px solid white;
    border-right: 1px solid lightgrey;
    text-align: center;
    font-size: 12px;
}
/* Timeslot picker...................................*/



.green {border-right: 4px solid rgb(122, 190, 122);}
.amber {border-right: 4px solid rgb(240, 196, 51)}
.red {border-right: 4px solid rgb(255, 12, 12)}