   .center {
        position: absolute;
        display: grid;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid lightgrey;
        padding: 10px;
        max-height: 80%;
        width: 80vw;
        border-radius: 10px;
        background-color: lightgrey;
    }

    .acc {
        padding: 10px;
        cursor: pointer;
        font-weight: 600;
        border-bottom: 1px solid white;
    }

    i {
        vertical-align: middle;
    }
    .acc>a {
        padding: 4px;
        text-decoration: none; vertical-align: middle;
    }



.cover {
    height: 100vh;
    width: 100vw; 
    background: dimgray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    position: absolute;
}

body{
    font-family: 'Fredoka One', cursive;    text-align: center;
    color: blueviolet;
    box-sizing: border-box;
        background-image:url("../img/undraw_donut_love_kau1.svg");
}