:root{
    --primary-color:#304ffe;/*#f0ac5e; */
    --accent-color:#f44336;
    --secondary-color: #f1cdcb;
    --shadow-color:#b8b7b7;
    --light-background:#efeef5;
    --lighter-text: #a9a9a9;
    --border-color: #f0ac5e;/*#2d56dd;*/
    --primary-color:#304ffe;
}
*{
    font-family: 'Montserrat';
}
body{
    margin:auto;
    overflow-x: hidden;
}
.div-signin{
    position: relative; display: block; top: 100px; width: 90%;
    margin: auto;
}

.hdr1{
    display: inline;
    vertical-align: top;padding: 8px;
    color:var(--primary-color);
    font-size: 1.2em;font-weight: bolder;
}
button, input[type=button]{
    outline: none; display: block;
    border: none; border-radius: 5px;
    margin:12px auto; padding:12px;
    background: var(--accent-color); color: white;
    font-size: 1em;
    box-shadow: 2px 2px 4px 0px var(--shadow-color);
}

button:focus,button:hover, 
input[type=button]:hover,
input[type=button]:focus{
    box-shadow: 0px 0px 0px 0px var(--shadow-color);
}

input[type=date],input[type=datetime-local],
input[type=email],input[type=password], 
input[type=text],textarea{
    box-sizing: border-box;outline: none; 
    border: 0;border-bottom: 1px solid var(--accent-color);
    font-size: 1em; padding: 12px; 
}

input[type=date],input[type=datetime-local]{
    background: white; text-align: center;
}

.timeDisplay{
    position: fixed; z-index: 2; bottom:2%; left:10%; right: 10%;
    margin: auto; width: 120px; padding:10px 10px;
    font-family: monospace; font-size: smaller; font-weight:bold; text-align: center;
    background-color:var(--primary-color); color: var(--primary-color);
}
.gicon-regular{
    font-size: 1.5em; padding: 12px;text-align: center;
    color:var(--primary-color);
}
.gicon-large {
    color:var(--primary-color);
    padding: 12px; font-size: 2em;
}
.gicon-fab{
    position: fixed; bottom:2%; right:2%;
    font-size: 48px; margin: 0;
    color:var(--primary-color);
    box-shadow: 0px 8px 16px 0px hsla(0, 0%, 0%, 0.2);
    border-radius: 50%;
}
.avatar-small{
    vertical-align: middle; width: 100px; height: 100px; border-radius: 15%; margin: 12px;
}
.avatar{
    width: 50px;border-radius: 50%;
}

label {padding: 12px; font-size: 1em;}

/* default Grid */
.grid-default{display: grid;  margin: 12px; padding: 12px ;}
.grid-item{padding: 8px 0;}
.tile {
    margin: 12px; text-decoration: none;
    background-color: #f44336;box-shadow: 4px 4px 4px 0px var(--shadow-color);
}

a:link, a:visited {
    padding: 14px 25px;
    color: white;
    text-align: center;text-decoration: none;
  }

/* --------------------------------------------------- */

/* Main menu Grid */
.grid-mainmenu{
    display: grid; z-index: 2; position: fixed; width: 98%;
    margin: 12px;
    border-radius: 15px; box-shadow: 1px 1px 8px 4px var(--light-background);
    animation: slide-down 500ms ease-out;
}
.grid-mainmenu > div {background: var(--primary-color);color: (--primary-color);padding: 8px;}
.grid-mainmenu > div > a {z-index: 2; text-decoration: none; font-size: small; margin: auto; color: var(--primary-color); background: var(--primary-color);}

/* --------------------------------------------------- */

/* --------------------------------------------------- */
    
    ul { padding: 0; }

    ul.svclist{
       display: inline;  list-style-type: none;padding: 12px;
    }
    li.svcitem{background: var(--primary-color);
        display: flexbox; 
        border-bottom: 1px solid lightgrey; 
    }
.modal-form{
    display: none; /* Hidden by default */
    position: fixed;top: 0; left: 0;   /* Stay in place */
    z-index: 2; /* Sit on top */
    width:100%; /* Full width */
    height: 100%; /* Full height */
    margin:auto;
    overflow: hidden; /* Enable scroll if needed */
    background:transparent; /* rgb(255, 255, 255); /* Fallback color */
}
.modal-content{
    position: relative;
    margin: auto; top: 30%;     width: 70%; 
    background: white; overflow-y: auto;
    box-shadow: 4px 8px 16px 0px var(--shadow-color)
}
.modal-header {
    margin:0; padding: 0.5em; 
    background-color: var(--light-background);
    color: var(--accent-color);
}
.modal-title{
    width: 95%; padding: 12px;
    font-size:small; font-weight: bold;
}
    .modal-closebtn{ width: 5%; float: right; background: var(--primary-color);color: white;
        padding: 2px; border-radius: 5px; text-align: center;}

    .main-menu {
        position: relative; display: none;width: 95%; margin: auto;
        background-color:var(--primary-color); box-shadow: 0px 8px 16px 0px var(--lighter-text);
        z-index: 2; padding: 4px;
        animation: slide-down 500ms ease-out;
        border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;
        }
    @keyframes slide-down{
        from { height: 0;  display:none;}
        to {height: 150px;  display: block;}

    }
    @keyframes slide-up{
        from {height: 260px; display: block;}
        to   {height: 0; display: none;}

    }

    .div-breadcrumbs{
        margin-top: 4px; padding: 12px; width: 100%;
    }
    .span-breadcrumbs{
        font-size: .7em;
    }
    .chevron{
        background: var(--primary-color);padding: 4px;
        border-top: 25px solid transparent;
        border-right: 10px solid var(--body-background);
        border-bottom: 25px solid transparent;
    }

    .round{border-radius: 50%; height: 50px; width: 50px;}
    .calendar-day{
        display: flex; flex-direction: row;
    }
    .calendar-day > div{
        background-color:var(--body-background);
        margin: 1px; margin-bottom: 12px; padding: 0 4px;
        text-align: center; font-size: 1em;
        line-height: 30px; width: 50px;
    }

    .first-col{
        width: 100px;background:lightblue;
    }

    .div-slide{
        position: relative;  margin: auto;
        background: white; box-shadow: 2px 2px 2px 2px var(--lighter-text);
        transition: 10ms;
    }
    @keyframes slidein-left{
        from{left: 1000px; display: none;}
        to{left: 10px; display: block;}
    }
    @keyframes slidein-right{
        from{left: -1000px; display: none;}
        to{left: 10px; display: block;}
    }
    @keyframes slideout-left{
        from{left: 10px;display: block;}
        to{left: -1000px; display: none;}
    }
    @keyframes slideout-right{
        from{left: 10px; display: block;}
        to{left: 1000px; display: none;}
    }

.div-container{
    overflow: auto;
}

.grid-calendar{
    display: grid; padding: 0px; width: fit-content;margin: 12px;
    row-gap: 1px; column-gap: 1px;
    background: var(--secondary-color);
    box-shadow: 2px 2px 4px 4px var(--shadow-color);
    overflow: auto;
}
.grid-calendar > div{
    font-size: 1em; font-weight:bolder; text-align: center;
    padding: 5px;
}
.grid-calendar > div:hover {
    background: lightgray;
}
#popup-slot {
    position: absolute; top: 25%; left: 5%; right: 5%; display:contents;
    margin: auto ; padding: 12px; width: 80%;
    box-shadow: 4px 2px 8px 4px var(--shadow-color);
    animation: slideup 300ms ease-in;
}
@keyframes slideup {
    from {width: 0%;height: 0%;}
    to {width: 100%;height: auto;}
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.menuicon{
    width: 10%;
}


.textbox {
    resize: vertical;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

.popmenu{
    position: fixed;
    display: none;
    width: 100%;
    margin: auto;
    padding: 1em;
    list-style-type: none;
    background: var(--primary-color);
    color: white;
}

.hMenu {
    background: var(--primary-color);
    list-style-type: none; text-align: center;
    padding: 12px; 
  }
  .active {
    color:var(--primary-color);
    font-weight: bold;
  }
.hMenu a {
    color:white;background: var(--primary-color);
    font-size: 1em;
    text-decoration: none;
    width: 100%;
}

li a:hover:not(.active) {
    color: white;
    font-weight: bold;
}

@media only screen and (min-width: 600px) {

    body{
        width: 70%;
    }
    .modal-form {
        margin: 0 15%;
        width: 70%;overflow: auto;
    }
    .avatar-small{width: 60px;}       
    .div-signin{ width: 60%;    position: absolute; display: block; top: 100px;}
}







