<link rel="stylesheet" href="css/calendar.css">
<style>
    input[type=date] {
        padding: 0 12px;
        text-align: center;
        font-size: 0.8em;
    }
</style>
<div id="divCalendar">
    <div class="cal-header">
        <!-- <i id="prev-m" class="material-icons cal-icon" onclick="minimise()">expand_less</i> -->
        <i id="prev-m" class="material-icons " onclick="localCMY('mon', 'prev')">chevron_left</i>
        <p id="month" style="margin:12px;"></p>
        <i id="next-m" class="material-icons " onclick="localCMY('mon', 'next')">chevron_right</i>
        <i id="prev-y" class="material-icons " onclick="localCMY('year', 'prev')">chevron_left</i>
        <p id="year" style="margin:12px;"></p>
        <i id="next-y" class="material-icons " onclick="localCMY('year', 'next')">chevron_right</i>
        <i id="icnfold" class="material-icons " onclick="fold('icnfold','cal-container')">expand_less</i>
    </div>
    <div id="cal-container">
        <div id="cal-dates" class="cal-dates" hidden></div>
    </div>
    <div class="grid nopad" id="evnt-lst"></div>
</div>

<form id="frmcheckin" action="/checkin" method="POST" hidden>
    <input type="text" name="aid">
    <input type="text" name="bname">
    <input type="text" name="sname">
    <input type="text" name="start">
    <input type="text" name="end">
</form>

<script src="js/app.js"></script>
<script src="js/calendar.js"></script>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const uid = urlParams.get('uid');
    const bid = urlParams.get('bid');
    setCurrentDate([today.getFullYear(), today.getMonth() + 1, today.getDate()].join('-'));
    drawCalendar();
    setColor(currDate, blue);

    fetchEvents();
    function fetchEvents() {
        spinner();
        payload.id = (uid) ? 'uid' : (bid) ? 'bid' : null;
        payload.val = (uid) ? uid : (bid) ? bid : null;
        mode = (uid) ? 'cus' : (bid) ? 'bus' : null;

        params.body = JSON.stringify(payload);
        fetch("/getevents", params)
            .then(response => response.json()
                .then(data => { showEvents(data.events, 'evnt-lst'); spinner('stop'); })
                .catch(err => console.log(err)))
            .catch(err => console.log(err));
    }
    function localCMY(mon_year, prev_next) {
        changeMonthYear(mon_year, prev_next);
        fetchEvents();
    }
</script>