<div class="grid">
    <label>Select your current status</label>
    <select id="status">
        <option value="ontime">On my way</option>
        <option value="delayed">Wont make it</option>
        <option value="checkin">I have arrived</option>
        <option value="checkout">I am leaving</option>
    </select>
    <div class="hide" id="qrdiv" data-pid="{{pid}}"><label>Scan your QR Code on arrival</label></div>
    <div class="hide" id="delayed">
        <button style="width: 150px;">Reschedule</button>
        <button style="width: 150px;">Cancel</button>
    </div>
    <div class="hide"><label>Scan your QR Code on arrival</label></div>
</div>
<script type="text/javascript" src="js/qrcode.js"></script>
<script>
    const qrdiv = document.getElementById('qrdiv');
    const delayed = document.getElementById('delayed');
    const optStatus = document.getElementById('status');
    new QRCode("qrdiv", qrdiv.getAttribute('data-pid'));

    optStatus.addEventListener('change', e => {
        switch (optStatus.value) {
            case 'checkin':
                hide('delayed'); show('qrdiv');
                break;
            case 'delayed':
                hide('qrdiv'); show('delayed');
                break;
            case 'ontime':
            default:
                hide('qrdiv'); hide('delayed');
                break;
        }
    });
    function show(eid) { document.getElementById(eid).style.display = 'block'; }
    function hide(eid) { document.getElementById(eid).style.display = 'none'; }
</script>