<div class="grid">
    <div class="icons-bar bbdr">
        <p style="font-weight: 800; color: var(--accent-color); width: 70%;">{{bname}}</p>
        <i id="icn01" class="material-icons">place</i>
        <i id="icn02" class="material-icons">call</i>
        <i id="icn03" class="material-icons">email</i>
        <i id="icn04" class="material-icons">public</i>
    </div>
    <h4 style="margin: 0 12px;">{{when}}</h4>
    <div class="grid" id="QRdiv" style="margin: auto;">
        <label style="margin: 12px auto;">Scan your QR Code on arrival</label>
        <div id="qrdiv" data-pid="{{aid}}"></div>
    </div>
    <div class="hide" id="delayed">
        <button style="width: 150px;">Reschedule</button>
        <button style="width: 150px;">Cancel</button>
    </div>
    <div style="display: grid; grid-template-columns: 90% 10%;">
        <label>Update your current status</label>
        <i class="material-icons" style="float:right;" onclick="redirect('skedules?')">send</i>
    </div>
    <select id="status">
        <option value="ontime">On my way</option>
        <option value="delayed">Wont make it</option>
        <option value="checkin">I have arrived</option>
        <option value="checkout">I am leaving</option>
    </select>
</div>
<script type="text/javascript" src="js/qrcode.js"></script>
<script>
    const qrdiv = document.getElementById('qrdiv');
    const delayed = document.getElementById('delayed');
    const optStatus = document.getElementById('status');
    new QRCode("qrdiv", { text: qrdiv.getAttribute('data-pid'), width: 250, height: 250 });

    optStatus.addEventListener('change', e => {
        switch (optStatus.value) {
            case 'delayed':
                hide('qrdiv'); show('delayed');
                break;
            default:
                hide('delayed'); show('qrdiv');
                break;
        }
    });
    function show(eid) { document.getElementById(eid).style.display = 'block'; }
    function hide(eid) { document.getElementById(eid).style.display = 'none'; }
</script>