<form>
  <div class="grid">
    <h3 style="margin-top: 0;">Set up as an Organisation</h2>
    <input type="text" placeholder="Organisation Name" id="orgname" required autocomplete="organization">
    <input type="text" placeholder="Registration Number" id="rego" required autocomplete="billing">
    <input type="email" placeholder="Admin email id" id="email" required autocomplete="email">
    <input type="tel" placeholder="Admin Phone Number" id="phone" required autocomplete="tel-local">
    <label>
      <input type="checkbox" id="accept" onclick="fnaccept()">I accept the Terms and Privacy Conditions at the link below
      <p style="margin-top: 0;margin-bottom: 0;"><a href="#" style="color:dodgerblue">Terms & Privacy conditions</a></p>
    </label>  
    <div style="display: flex;">
      <button onclick="window.location='/'">Cancel</button>
      <button id='btnSubmit' disabled onclick="createProvider()">Create Service Account</button>
    </div>
  </div>
</form>

<script src="js/app.js"></script>
<script src="js/dbstore.js"></script>
<script>
function fnaccept() { 
  if (document.getElementById('accept').checked) document.getElementById('btnSubmit').disabled = false;
  else document.getElementById('btnSubmit').disabled = true;
}

function createProvider(){
  spinner("start");
  var newDoc = {
    "type":"provider",
    "doc": {"uid":auth.currentUser.uid,
            "orgname": document.getElementById("orgname").value,
            "email": document.getElementById("email").value,
            "phone": document.getElementById("phone").value,
            "rego" : document.getElementById("rego").value}};
  var ret = addDoc(newDoc);
  spinner("stop");
  console.log("ret: " + ret);
  
  if(ret.slice(1,2)==1) window.location = "/services";//showError("Error",ret);
}
</script>
