<form method="POST" action="/createBus">
  <div class="grid">
    <h3>Set up as an Organisation</h2>
    <input type="hidden" name="uid" value="{{uid}}">
    <input type="text" placeholder="Organisation Name" id="bname" name="bname" required autocomplete="organization">
    <input type="text" placeholder="Registration Number" id="rego" name="rego" required autocomplete="billing">
    <input type="email" placeholder="Admin email id" id="email" name="email" required autocomplete="email">
    <input type="tel" placeholder="Admin Phone Number" id="phone" name="phone" required autocomplete="tel-local">
    <label>
      <input type="checkbox" id="accept" onclick="fnaccept()">I accept the Terms and Privacy Conditions at the link below
      <p><a href="#" style="color:dodgerblue">Terms & Privacy conditions</a></p>
    </label>  
    <div style="display: flex;">
      <input type="button" onclick="window.location='/settings'" value="Cancel">
      <input type="submit" id='btnSubmit' value="Create" disabled>
    </div>
  </div>
</form>
<script>
function fnaccept() { 
  if (document.getElementById('accept').checked) document.getElementById('btnSubmit').disabled = false;
  else document.getElementById('btnSubmit').disabled = true;
}
</script>
