<style>
        body {
        background: linear-gradient(45deg, rgb(235, 225, 225), #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: auto;
        padding: 1em;
        width: 70%;
        background: white;
        overflow-y: auto;
        box-shadow: 4px 8px 16px 0px var(--shadow-color);
        transform: translate(-50%, -50%);
        border-radius: 5px;
    }

    .acc {
        display: grid;
        grid-template-columns: 1fr 11fr;
        margin: 4px 0;
        padding: 0 8px;
        cursor: pointer;
        color: var(--accent-color);
        font-weight: 600;
        border: 1px solid var(--shadow-color);
    }

    .acc>a {
        padding: 4px;
        text-decoration: none;
        color: tomato;

    }

    .acc>i {
        border-radius: 50%;
        color: tomato;
    }
</style>
<div class="center">
    <h2>Sorry something went wrong</h2>
    <div class="acc" onclick="window.location='/'">
        <a href="#">Take me home...</a>
        <i id="icn01" class="material-icons">house</i>
    </div>
    <h3>{{title}}</h3>
    {{msg}}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ducimus quidem aspernatur nostrum accusantium,
        repellendus eaque magni voluptatibus omnis, aliquid alias nesciunt aut iure ipsum? Iure ipsa ut dignissimos
        aliquam!
    </p>
</div>