<div class="center">
    <h2>Sorry something went wrong</h2>
    <div class="acc" onclick="window.location='/'">
        <i id="icn01" class="material-icons">house</i>
        <a href="#">Take me home...</a>
        <h3>{{title}}</h3>
        {{msg}}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ducimus quidem aspernatur nostrum accusantium,
            repellendus eaque magni voluptatibus omnis, aliquid alias nesciunt aut iure ipsum? Iure ipsa ut dignissimos
            aliquam!
        </p>
    </div>
</div>