<div id="mainNav" class="overlay">
    <div class="overlay-content">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="tile" href="javascript:redirect('skedules?uid=')">View Calendar</a>
        <a class="tile" href="javascript:redirect('settings?uid=')">Settings</a>
        <a class="tile" href="javascript:auth.signOut();">Log out</a>
        <p class="theme">Keep the distance - Save time</p>
    </div>
</div>
<script>
    var bid = null;
    function redirect(page) { window.location = page + uid; }
</script>