<style>
    label {margin: 4px 0; padding-bottom: 0px;}
</style>
<form class="grid-default" style="  border: 1px solid var(--shadow-color);">
    <input type="text" id="cus-name" placeholder="Customer Name"  >
    <input type="text" id="cus-id" placeholder="Email / Phone number"  >
    
    <select id="svc">
    {{#each svcs}}
        <option id="sname" value="{{sname}}">{{sname}}</option>
    {{/each}}
    </select>
    <div style="display: grid;">
        <label for="dtfrom" >From</label>
        <input type="datetime-local"  id="dtfrom" >    
        <label for="dtto" >To</label>
        <input type="datetime-local"  id="dtto" > 
    </div>
    <div style="margin-top:1em; text-align: center; background:var(--light-background); ">
        <i class="material-icons gicon-regular" >event </i>
        <i class="material-icons gicon-regular" >search</i>    
        <i class="material-icons gicon-regular" id="btnSave">save</i>    
        <i class="material-icons gicon-regular" onclick="redirect('skedules?')">chevron_left</i>    
    </div>  
</form>
<script src="./js/app.js"></script>
<script src="./js/dates.js"></script>
<script src="./js/saveslot.js"></script>