<style>
    .svc {grid-area: 1 / 1 / span 1 / span 2; color: var(--accent-color);}
    .svc_id {grid-area: 2/1/span 1/span 2; font-size:1em;}
    .svc_desc{ grid-area: 3 / 1 / span 1 / span 2;min-height: 3em; font-size:1em; border-top: 1px solid var(--secondary-color);}
    .gitem {padding: 8px 0;}
    .gborder {box-shadow: 1px 1px 4px 1px var(--shadow-color);}
</style>
{{#each arrServices}}
<div class="grid shdw bbdr">
    <div class="svc gitem">{{name}}
        <i class=" material-icons" style="float:right;"  onclick="deldoc('service','{{sid}}')">delete</i>
    </div>
    <div class="svc_desc gitem">{{desc}}</div>
</div>
{{/each}}
<style>
    .save {grid-area: 1/1; width: 100px;}
    .close {grid-area: 1/2; width: 100px; }
</style>
<div class="mod-container" id="modalform" >
<div  class="mod-content"  >
    <h3 class="mod-header">Create a new service</h3>
    <form style="display: grid; padding:1em;">
        <input class="svc-name" type="text" id="Name" placeholder="Service Name" autofocus required>
        <textarea class="svc-desc" id="Desc" placeholder="Description"></textarea>
        <input class="svc-price" type="text" id="Price" placeholder="Price">
        <div class="grid">
            <input class="save" type="button" id="btnSave" value="Save">
            <input class="close" type="button" value="Cancel" id="btnClose">    
        </div>
    </form>
</div>
</div>
<button id="btnAdd" class="fab">+</button>
<script src="js/services.js"></script>
<script src="js/app.js"></script>
