<div class="grid">
    <div class="acc" onclick="toggle('icn00','div00')">
        <p>User Profile</p>
        <i id="icn00" class="material-icons">expand_more</i>
    </div>
    <div class="acc-cntnt" id="div00">
        <a class="a-settings" href="#">Change Password</a>
    </div>
    <div class="acc" onclick="toggle('icn01','div01')">
        <p>Business Accounts</p>
        <i id="icn01" class="material-icons">expand_more</i>
    </div>
    <div class="acc-cntnt" id="div01">
        <a class="a-settings" href="createsp">Set up a new Business...</a>
        {{#if isBusiness}}
        <a class="a-settings" href="javascript:selBusiness('services?pid=')">Configure Services</a>
        <a class="a-settings" href="/store.html">Configure Store</a>
        {{/if}}
    </div>
    <div class="acc" onclick="toggle('icn02','div02')">
        <p>Payment Options</p>
        <i id="icn02" class="material-icons">expand_more</i>
    </div>
    {{!-- TO DO: Link payment options --}}
    <div class="acc-cntnt" id="div02"> 
        <a class="a-settings" href="#">Google pay</a>
        <a class="a-settings" href="#">Paypal</a>
        <a class="a-settings" href="#">Credit Card</a>
        <a class="a-settings" href="#">Direct Debit</a>
    </div>
</div>
<div class="mod-container" id="selBusiness">
    <div class="mod-content">
        <h4>Select a Business</h4>
        {{#each business}}
        <a class="a-settings block" href="/vwservices?bid={{bid}}">{{bname}}</a>
        {{/each}}
        <i class="material-icons" onclick="document.getElementById('selBusiness').style.display='none'">arrow_back</i>
    </div>
</div>
<script>
    var murl = "";
    function selBusiness(url) { murl = url; document.getElementById('selBusiness').style.display = 'block'; }
    function toggle(icnid, divid) {
        var divx = document.getElementById(divid);
        (divx.style.display != 'block') ? divx.style.display = 'block' : divx.style.display = 'none';
        var icnx = document.getElementById(icnid);
        (icnx.innerText == 'expand_more') ? icnx.innerText = 'expand_less' : icnx.innerText = 'expand_more';
    }
</script>