<link rel="stylesheet" href="css/calendar.css">
<style>
    input[type=date] {
        padding: 0 12px;
        text-align: center;
        font-size: 0.8em;
    }
</style>
<div class="cal-header">
    <i id="prev-m" class="material-icons" onclick="localCMY('mon', 'prev')">chevron_left</i>
    <p id="month" style="margin:12px;"></p>
    <i id="next-m" class="material-icons" onclick="localCMY('mon', 'next')">chevron_right</i>
    <i id="prev-y" class="material-icons" onclick="localCMY('year', 'prev')">chevron_left</i>
    <p id="year" style="margin: 12px;"></p>
    <i id="next-y" class="material-icons" onclick="localCMY('year', 'next')">chevron_right</i>
</div>
<div id="cal-dates" class="cal-dates"></div>

<div class="grid">
    <label id="day-hdr" class="hide">{{dtrange.from}}</label>
    <div class="grid nopad" id="evnt-lst"></div>
</div>


<script src="js/app.js"></script>
<script src="js/calendar.js"></script>
<script>

    setCurrentDate([today.getFullYear(), today.getMonth() + 1, today.getDate()].join('-'));
    drawCalendar();
    setcolor(currDate, blue);

    fetchEvents();
    function fetchEvents() {
        spinner();
        fetch("/getevents", params)
            .then(response => response.json()
                .then(data => { showEvents(data.events, 'evnt-lst');spinner('stop');}));
    }
    function localCMY(mon_year, prev_next) {
        changeMonthYear(mon_year, prev_next);
        fetchEvents();
    }
    //attach click events to the calendar cells
    /*const calDates = get('cal-dates').children;
    for (i = 7; i < calDates.length; i++) {
        const date = calDates[i].innerText;
        if (date != "") get(date).addEventListener('click', (e) => dateClicked(date));
    }

    function dateClicked(date) {
        const page = "skedules?from=" + currYear + "-" + (currMonth + 1) + "-" + date + "&";
        redirect(page);
    } */
</script>