<style>
    input[type=date] {
        padding: 0 12px;
        text-align: center;
        font-size: 0.8em;
    }
</style>
<div class="icons-bar ">
    <i class="material-icons" onclick="refresh('prev')">chevron_left</i>
    <h2 id="dtHdr" style="margin: auto; color: var(--accent-color);">
        {{#with dtrange}}
        <input type="date" id="dtfrom" value='{{from}}' onchange="refresh('default')">
        {{/with}}
    </h2>
    <i class="material-icons" onclick="refresh('next')">chevron_right</i>
    <i class="material-icons" id="btnAdd" onclick="window.location='newslot';">add</i>
</div>
<div class="grid">
    {{#each skeds}}
    <div class="bbdr pada-12" onclick="window.location='checkin?aid={{id}}'">
        <label>{{from}}</label>
        <label style="display: inline;">{{svcname}}</h4>
            <i class="material-icons" style=" font-size: 1em; float:right;">more_vert</i>
    </div>
    {{/each}}
</div>

<script src="./js/app.js"></script>
<script src="./js/dates.js"></script>
<script>
    function refresh(val) {
        spinner();
        switch (val) {
            case "prev": window.location = "skedules?from=" + yesterday(document.getElementById('dtfrom').value); break;
            case "next": window.location = "skedules?from=" + tomorrow(document.getElementById('dtfrom').value); break;
            default: window.location = "skedules?from=" + dtfrom.value;// + "&to=" + dtto.value;
        }
    }
</script>