<div class="grid" style="padding-bottom: 0;">
    <select name="" id="">
        <option value="">Walk in</option>
    </select>
    {{#each svcs}}
    <div>
        <div class="acc nobdr bbdr" onclick="window.location='calender.html?sid={{sid}}'">
            <p>{{sname}}</p>
            <i id="icn01" class="material-icons">chevron_right</i>
        </div>
    </div>
    {{/each}}
    <div class="mod-container" id="modalform">
        <div class="mod-content">
            <h3 class="mod-header">Create a new service</h3>
            <form style="display: grid; padding:1em;">
                <input class="svc-name" type="text" id="Name" placeholder="Service Name" autofocus required>
                <textarea class="svc-desc" id="Desc" placeholder="Description"></textarea>
                <input class="svc-price" type="text" id="Price" placeholder="Price">
                <div class="grid">
                    <input class="save" type="button" id="btnSave" value="Save" style="grid-area: 1/1;width:100px">
                    <input class="close" type="button" value="Cancel" id="btnClose" style="grid-area: 1/2;width:100px">
                </div>
            </form>
        </div>
    </div>
    <button id="btnAdd" class="fab">+</button>
    <script src="js/services.js"></script>
    <script src="js/app.js"></script>