<link rel="stylesheet" href="css/calendar.css">
<style>
    select {
        padding: 12px;
        border-radius: 5px;
        border: 1px solid var(--shadow-color);
    }

    .list {
        border-radius: 5px;
        padding: 4px;
        min-height: 50px;
        margin: 12px 0;
    }

    .list>div,
    .lstitem {
        display: grid;
        grid-template-columns: 1fr 10fr 1fr;
        margin: 4px 0;
        border: 1px solid var(--border-color);
        border-radius: 4px;
        font-size: small;
        background-color: white
    }

    .list>div>i {
        padding: 10px;
    }

    .list>div>label {
        font-size: large;
        font-weight: 800;
    }
</style>
<div class="grid nopad">
    <div class="tabs-type-2" id="dvIcons">
        <a onclick="setTab(this,'dvViewServices')" id="tab1">View services</a>
        <a onclick="setTab(this,'divResources')">Attach Resources</a>
    </div>
    <div id="dvViewServices">
        <div id="addService" class="bbdr" style="display: grid; grid-template-columns: 11fr 1fr;">
            <h4>Add a new Service</h4>
            <i id="icnNewSvc" class="material-icons" style="display:inline-block;">add</i>
        </div>
        <div id="dvNewService" hidden>
            <form action="/addservice" method="POST">
                <input type="text" name="bid" value="" style="display: none;">
                <input type="text" id="Name" name="sname" placeholder="Service Name" required autocomplete="off">
                <textarea id="Desc" name="sdesc" placeholder="Description" required></textarea>
                <input type="text" id="Price" name="sprice" placeholder="Price" autocomplete="off">
                <input class="btn" type="submit" id="btnSave" value="Create">
            </form>
        </div>
        <div id="dvServices" hidden>
            <select name="" id="lstSvcs">
                <option value="">Pick a service</option>
                {{#each svcs}}
                <option value="{{sid}}">{{sname}}</option>
                {{/each}}
            </select>
        </div>
        <div class="" id="divEvnts-container" hidden>
            <div class="grid nopad" id="dvEvents"></div>
        </div>
    </div>
    <div class="" id="divResources" hidden>
        <select name="" id="lstSvcs2">
            <option value="">Pick a service</option>
            {{#each svcs}}
            <option value="{{sid}}">{{sname}}</option>
            {{/each}}
        </select>
        <div id="resCart" class="lstitem">
            <i class="material-icons">shopping_cart</i>
            <label id="lblCart">Unsaved resource linkages - 0</label>
            <i class="material-icons" onclick="saveCart()">save</i>
        </div>
        <div class="bbdr" style="display: grid; grid-template-columns: 11fr 1fr;">
            <h4>Attached resources</h4>
        </div>
        <div id="lstAttached" class="list"></div>
        <div class="bbdr" style="display: grid; grid-template-columns: 11fr 1fr;">
            <h4>Unattached resources</h4>
            <i class="material-icons gicon-regular" onclick="redirect('resources.html?bid=')">business_center</i>
        </div>
        <div id="lstUnAttached" class="list">
        </div>
    </div>
    <div class="" id="divRemove" hidden>
        <h1>Remove Service</h1>
    </div>
</div>
<script src="js/pops.js"></script>
<script src="js/services.js"></script>
<script src="js/events.js"></script>