<div class="bbdr" style="display: flex;">
    <p class="apptitle"> VirQ.app</p>
    <i id="mainIcn" class="material-icons gicon-regular" onclick="togmenu()">menu</i>
</div>
<div id="mainNav" class="mainMenu" style="left: 100%;">
    <div style="min-height: 60px;">
        <i id="mainIcn" class="material-icons gicon-regular fltr" onclick="togmenu(this)">close</i>
    </div>
    <select name="" id="lstBus" onchange="setBid()">
        {{#each bus}}
        <option value={{bid}}>{{bname}}</option>
        {{/each}}
    </select>
    <div class="gridicons">
        <div class="icontiles" onclick="redirect('booknew?')">
            <i class="material-icons gicon-regular">assignment</i>
            <h4>Booking</h4>
        </div>
        <div class="icontiles" onclick="redirect('calendar?')">
            <i class="material-icons gicon-regular">event</i>
            <h4>Calendar</h4>
        </div>
        <div class="icontiles" onclick="redirect('vwservices?')">
            <i class="material-icons gicon-regular">widgets</i>
            <h4>Services</h4>
        </div>
        <div class="icontiles" onclick="redirect('resources?')">
            <i class="material-icons gicon-regular">business_center</i>
            <h4>Resources</h4>
        </div>
        <div class="icontiles" onclick="redirect('settings?')">
            <i class="material-icons gicon-regular">settings</i>
            <h4>Settings</h4>
        </div>
        <div class="icontiles" onclick="auth.signOut()">
            <i class="material-icons gicon-regular">double_arrow</i>
            <h4>Log out</h4>
        </div>
    </div>
</div>